:root{
    --main-color1: #333333;
    --main-color2: #f1f1f1;

    --side-color1: #777777;
    --side-color2: #C0C0C0;
    
    --accent-color: #337AB7;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Open sans-serif;
}

body{
    
    
    
    max-width: 100%;
    min-height: 100%;
    background-color: var(--main-color2);
}

body img{
    max-width: 200px;
}

iframe{
    max-width: 640px;
    max-height: 360px;
}

h1{
    color: var(--accent-color);
    text-align: center  ;
}

h2{
    color: var(--side-color1);
}

header{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color1);
    color: var(--main-color2);
}

header img{
    max-width: 100px;
    max-height: 100px;
}


/*header div{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header div img{
    align-self: flex-start;
}

header div nav{
    align-self: center;
} */

/* Partie Nav */
nav{
    text-align: center;
    font-size: 24px;
}

li:hover{
    text-align: var(--accent-color);
}

nav ul{
    list-style-type: none;
    padding: 2px;
}

nav ul li{
    font-size: 24;
    display: inline;
    position: relative;
    display: inline;
    flex: 1;
    padding: 2px;
}

nav ul li a{
    margin-right: 20px;
    text-decoration: none;
    color:#C0C0C0;
}

nav ul li a:hover{
    font-size: 26px;
}

footer{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    width: 100%;
}

/* Formulaire */
fieldset {
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

h3{
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
}

div{
    padding: 5px;
}

label{
    padding: 10px;
}

p{
    margin-bottom: 10px;
}

textarea{
    margin-top: 20px;
    margin-bottom: 20px;
}

#ok1, #ok2{
    margin-left: 10px;
    margin-top: 10px;
}

iframe{
    margin-left: 600px;
}
/*
**********************************************
Attention que les .class sous ce commentaire !
**********************************************
.menu{
}
*/



.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    
}

.img_link img{
    max-width: 70%;
    max-height: 50%;
}

.img_link{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
}

/* 
**********************************************
Attention que les @media sous ce commentaire !
**********************************************
*/

@media screen and (width < 1000px){
    h1{
        color: red;
    }
    .container{
        grid-template-columns: 1fr 1fr;

    }

    .container p, .container img{
        margin: 2em;
    }

    h2{
        grid-column: 1 / span(2);
    }
    
    .img_link img{
        max-width: 50%;
        max-height: 50%;
    }
}

@media screen and (width < 900px){
    h1{
        color: green;
    }
    .container{
        grid-template-columns: 1fr;
        justify-items: center;
           
    }
    
    .img_link img{
        max-width: 200px;
        max-height: 200px;
    }

    .img_link{
        background-color: var(--side-color1);
        max-height: 300px;
        max-width: 80%;
    }
    
}