/*
***************************************************
Notes :

Attention, double config grid :

- class = "container" 
    pour la page d'Accueil (index.html)

- class = "testimonial-grid" et "testimonial"
    pour les pages :
                    HTML.html, 
                    CSS.html, 
                    JS.html 
                    API.html
***************************************************
*/

/*
****
INIT
****
*/

:root{
    --main-color1: #333333;
    --main-color2: #f1f1f1;

    --side-color1: #777777;
    --side-color2: #C0C0C0;
    
    --accent-color: #337AB7;

    --font-size-small: 1em; /* texte */
    --font-size-normal: 1.8em;   /* h2 */
    --font-size-accent: 4em;  /* h1 */
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Open sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--main-color2);
}

body img{
    width: 200px;
    height: 200px;
}

iframe{
    max-width: 640px;
    max-height: 360px;
}

h1{
    color: var(--accent-color);
    text-align: center;
    font-size: var(--font-size-accent);
}

h2{
    color: var(--side-color1);
    font-size: var(--font-size-normal);
}

p{
    margin-bottom: 10px;
}

div{
    padding: 5px;
}

header{
    display: flex;
    flex-direction: raw;
    position: sticky;
    top: 0;
    
    color: var(--main-color2);
    
}

/*
**********************************************
Attention, partie header sous ce commentaire !
**********************************************
*/

/* LOGO */
header img{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100px;
    max-height: 100px;
}


/* Partie Nav */
nav{
    background-color: var(--main-color1);
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 50px;
}

nav ul{
    list-style-type: none;
    background-color: var(--main-color1);
}

nav ul li{
    font-size: var(--font-size-normal);
    
    display: inline;
    position: relative;
    transition: all .5s;
    padding: 0.5em;

}

nav ul li a{

    text-decoration: none;
    color:#C0C0C0;
}

/* Effet zoom au passage de la souris sur le menu*/
nav ul li:hover{
    font-size: 1.9em;
    padding: 1.2em;
}

/*
********************************************
Attention, partie form sous ce commentaire ! 
********************************************
*/

fieldset {
    margin:20px;
    
}

fieldset h2{
    text-align: center;
    margin-bottom: 60px;
}

label{
    padding: 10px;
}

textarea{
    width: 90%;
    margin:0;
}

#ok1, #ok2{
    margin-left: 10px;
    margin-top: 10px;
}

form div iframe{
    display: flex;
    margin: auto;
}

/*
**********************************************
Attention, partie Footer sous ce commentaire !
**********************************************
/* 

/*Footer */
footer{
    width: 100%;
}

/* Fix Footer wrong position */
.container, footer{
    display: flex;
    flex-direction: column;
}

/*
****************************************************************************************
Attention, initialisation class container pour grid page d'accueil sous ce commentaire !
****************************************************************************************
*/

.container{
    display: grid;
    grid-template-columns: 1fr;
}

/*
**********************************************************************************
Attention, config grid des pages html : HTML, CSS, JS et API sous ce commentaire !
**********************************************************************************
*/

/* Config grid */
.testimonial-grid{
    display: grid;
    /* gap: 1.5rem; -> pb compatibilité gap avec chrome */
    grid-auto-columns: 1fr; /* Permet d'avoir des colonnes égales */
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
    'height'
    'nine'
    'ten';

    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

/* Eléments du grid */
.testimonial{
    font-size: var(--font-size-small);
    padding: 2rem;
    border-radius: 0.5rem;
}

.testimonial h2{
    font-size: var(--font-size-normal);
}

/* Assignation zones aux élément du grid */
.testimonial:nth-child(1){
    grid-area: one;
}
.testimonial:nth-child(2){
    grid-area: two;
}
.testimonial:nth-child(3){
    grid-area: three;
}
.testimonial:nth-child(4){
    grid-area: four;
}
.testimonial:nth-child(5){
    grid-area: five;
}
.testimonial:nth-child(6){
    grid-area: six;
}
.testimonial:nth-child(7){
    grid-area: seven;
}
.testimonial:nth-child(8){
    grid-area: height;
}
.testimonial:nth-child(9){
    grid-area: nine;
}

/* @media du grid */
@media (min-width: 60em) {
    /* Config @media grid page html autre que index */
    .testimonial-grid {
        grid-template-areas: 
        'one one'
        'two three'
        'four five'
        'six seven'
        'height height'
        'nine ten';
    }

    /* config @media grid index */
    .container{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
           
    }
    
    .img_link img{
        max-width: 200px;
        max-height: 200px;
    }

    .img_link{
        
        height: 300px;
        width: 80%;
    }
}

@media (min-width: 70em) {
    /* Config @media grid page html autre que index */
    .testimonial-grid {
        grid-template-areas: 
        'one one two'
        'three four four'
        'five six seven'
        'height nine ten';
    }

    /* config @media grid index */
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

    }

    h2{
        grid-column: 1 / span(2);
    }
    
    .img_link{
        width: 50%;
        height: 50%;
        
    }
}

/*
*******************************************************************
Attention, config page d'accueil (index.html) sous ce commentaire !
*******************************************************************
*/
/* Lien avec  image */
.img_link{
    display: flex;
    justify-content: center;

    background-color: var(--side-color2);
    padding: 10px;
    margin: 2em;
    
    border: solid 1em var(--accent-color);
    border-radius: 50px;   
}

/* Effet au passage de la souris */
.img_link:hover{
    background-color: var(--accent-color);
}