:root{
    --main-color1: #333333;
    --main-color2: #FFFFFF;

    --side-color1: #777777;
    --side-color2: #C0C0C0;
    
    --accent-color: #337AB7;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Open sans-serif;
}

body{
    max-width: 100%;
    max-height: 100%;
    background-color: var(--main-color2);
}

h1{
    color: var(--main-color1);
}

h2{
    color: var(--side-color1);
}

header{
    background-color: var(--main-color1);
    color: var(--main-color2);
}

/* nav{
    config de base le reste dans la classe .menu
} */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* form{
    Formulaire de Val
} */

/*
**********************************************
Attention que les .class sous ce commentaire !
**********************************************
*/

/*
.menu{
}
*/

/* 
.container{

}
*/

.img_link img{
    max-width: 100px;
    max-height: 100px;
}

.img_link{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 10px;
}

/* 
**********************************************
Attention que les @media sous ce commentaire !
**********************************************
*/

@media screen and (width < 1000px){

}

@media screen an (width < 900px){

}